/* Enter your custom styles here */
/* Add to your style.css or create a new CSS file */
#reconTab {
    min-width: 150px !important;
}

/* Or target all icon tab filters 
.sapMITBFilter {
    min-width: 140px !important;
}
*/